<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chan.persistence.BoardDAO">

	<resultMap id="resultForBoardVO" type="com.chan.domain.BoardVO">

		<result column="BOARD_ID"       	jdbcType="VARCHAR"		property="boardId" />
		<result column="HRANK_BOARD_ID" 	jdbcType="VARCHAR"		property="hrankBoardId" />
		<result column="BNO"            	jdbcType="INTEGER"		property="bno" />
		<result column="TITLE"          	jdbcType="VARCHAR"		property="title" />
		<result column="CONTENT"        	jdbcType="VARCHAR"		property="content" />
		<result column="VIEW_CNT"			jdbcType="INTEGER"		property="viewCnt" />
		<result column="REGI_USER_ID"   	jdbcType="VARCHAR"		property="regiUserId" />
		<result column="REGI_DATE"      	jdbcType="TIMESTAMP"	property="regiDate" />
		<result column="MODI_USER_ID"   	jdbcType="VARCHAR"		property="modiUserId" />
		<result column="MODI_DATE"      	jdbcType="TIMESTAMP"	property="modiDate" />

	</resultMap>

<!-- CRUD .............................................................................................................-->

	<!-- CREATE -->
	<insert id="create">
		INSERT INTO	/* com.chan.persistence.BoardDAO.create */
				TBL_BOARD
				(
					BOARD_ID,
					HRANK_BOARD_ID,
					BNO,
					TITLE,
					CONTENT,
					REGI_USER_ID,
					REGI_DATE,
					VIEW_CNT
				)
		VALUES
				(
					FUNC_GET_SEQ_30(),
					#{hrankBoardId},
					(SELECT NVL(MAX(BNO)+1, 1) FROM TBL_BOARD),
					#{title},
					#{content},
					#{regiUserId},
					SYSDATE,
					0
				)
	</insert>

	<!-- READ -->
	<select id="read" resultMap="resultForBoardVO">
		SELECT		/* com.chan.persistence.BoardDAO.read */
					BOARD_ID,
					HRANK_BOARD_ID,
					BNO,
					TITLE,
					CONTENT,
					REGI_USER_ID,
					REGI_DATE,
					MODI_USER_ID,
					MODI_DATE,
					VIEW_CNT
		FROM
					TBL_BOARD
		WHERE
					BOARD_ID = #{boardId}
	</select>

	<!-- UPDATE -->
	<update id="update">
		UPDATE 		/* com.chan.persistence.BoardDAO.update */
					TBL_BOARD
		SET
					TITLE 			= #{title},
					CONTENT 		= #{content},
					MODI_USER_ID 	= #{regiUserId},
					MODI_DATE 		= SYSDATE
		WHERE
					BOARD_ID = #{boardId}
	</update>

	<!-- DELETE -->
	<delete id="remove">
		DELETE FROM /* com.chan.persistence.BoardDAO.remove */
					TBL_BOARD
		WHERE
					BOARD_ID = #{boardId}
	</delete>

<!-- LISTPAGE & PAGENATION............................................................................................ -->

	<!-- (LIST ALL)게시물 전체 리스트 조회 -->
	<select id="listAll" resultMap="resultForBoardVO">
		SELECT		/* com.chan.persistence.BoardDAO.listAll */
					BOARD_ID,
					HRANK_BOARD_ID,
					BNO,
					TITLE,
					CONTENT,
					REGI_USER_ID,
					REGI_DATE,
					MODI_USER_ID,
					MODI_DATE,
					VIEW_CNT
		FROM
					TBL_BOARD
		ORDER BY
					BOARD_ID DESC
	</select>

	<!-- LIST by Pagination(페이징 처리된 게시물 리스트 조회) -->
	<select id="listPage" resultMap="resultForBoardVO">
		<include refid="com.chan.paging.header"/>
       		SELECT		/* com.chan.persistence.BoardDAO.listPage */
						BOARD_ID, 		HRANK_BOARD_ID, 	BNO,
						TITLE,			CONTENT,			REGI_USER_ID, 		REGI_DATE,
						MODI_USER_ID, 	MODI_DATE, 			VIEW_CNT
       		FROM
       					TBL_BOARD
       		WHERE
       					BOARD_ID IS NOT NULL
       		<include refid="com.chan.searching.searchCondition"/>
       		ORDER BY
       					BOARD_ID DESC, REGI_DATE DESC
		<include refid="com.chan.paging.footer"/>
	</select>

<!-- GET DATA Query................................................................................................... -->

	<!-- 게시물의 총 갯수구하는 Query -->
	<select id="getTotalDataCnt" resultType="int">
		SELECT  	/* com.chan.persistence.BoardDAO.getTotalDataCnt */
					COUNT(*)
		FROM
					TBL_BOARD
		WHERE
					BOARD_ID IS NOT NULL
		<include refid="com.chan.searching.searchCondition"/>
	</select>

<!-- 첨부 파일 관련 ...................................................................................................... -->

	<insert id="addAttach">
		INSERT INTO 	/* com.chan.persistence.BoardDAO.addAttach */
				TBL_ATTACH
				(
					FULL_NAME,
					BOARD_ID
				)
		VALUES
				(
					#{fullName},
					#{boardId}
				)
	</insert>

</mapper>