<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chan.searching">

	<sql id="searchCondition">

		<if test="searchType != null">

			<if test="searchType == 't'.toString()">
				AND TITLE LIKE CONCAT ( '%',  CONCAT ( #{keyword}, '%' ) )
			</if>

			<if test="searchType == 'c'.toString()">
				AND CONTENT LIKE CONCAT ( '%',  CONCAT ( #{keyword}, '%' ) )
			</if>

			<if test="searchType == 'w'.toString()">
				AND REGI_USER_ID LIKE CONCAT ( '%',  CONCAT ( #{keyword}, '%' ) )
			</if>

			<if test="searchType == 'tc'.toString()">
				AND
					(
						TITLE LIKE CONCAT ( '%',  CONCAT ( #{keyword}, '%' ) )
						OR
						CONTENT LIKE CONCAT ( '%',  CONCAT ( #{keyword}, '%' ) )
					)
			</if>

			<if test="searchType == 'cw'.toString()">
				AND
					(
						CONTENT LIKE CONCAT ( '%',  CONCAT ( #{keyword}, '%' ) )
						OR
						REGI_USER_ID LIKE CONCAT ( '%',  CONCAT ( #{keyword}, '%' ) )
					)
			</if>

			<if test="searchType == 'tcw'.toString()">
				AND
					(
						TITLE LIKE CONCAT ( '%',  CONCAT ( #{keyword}, '%' ) )
						OR
						CONTENT LIKE CONCAT ( '%',  CONCAT ( #{keyword}, '%' ) )
						OR
						REGI_USER_ID LIKE CONCAT ( '%',  CONCAT ( #{keyword}, '%' ) )
					)
			</if>

       	</if>

	</sql>

</mapper>