<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

	<!-- typeAlliases는 하위 요소로 <package>와 <typeAlias> 요소를 가질 수 있다. -->
	<typeAliases>
		<package name="com.chan.domain"/>
	</typeAliases>

</configuration>
